<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asset Tracking System</title>

  <!-- OpenLayers CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@7.0.0/ol.css" type="text/css">

  <!-- Link to your custom styles -->
  <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
  <div id="map"></div>
  <button id="pick-location">Pick Location</button>
  <div id="result"></div>


  <div id="popup" class="ol-popup" style="display: none;">
    <div id="popup-content"></div>
  </div>

  <!-- OpenLayers JS -->
  <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script> 

  <!-- Link to your custom JavaScript -->
  <script src="static/js/main.js"></script>

</body>
</html>
